.header {
  height: 100%;
  /* background-image: url("/header.webp");
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-position: 0 100px; */
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--gray);
}

.navbar a:first-child {
  margin-right: auto;
}

.navbar a:last-child {
  margin-left: var(--spacer-3);
}

.heroContainer {
  text-align: center;
  margin-top: var(--spacer-4);
}

.welcomeMessage {
  font-size: var(--larger);
  margin-bottom: var(--spacer-4);
}

.heroContainer a {
  display: inline-block;
  margin-bottom: var(--spacer-1);
}

@media (min-width: 480px) {
  .welcomeMessage {
    font-size: var(--x-large);
  }
}

@media (min-width: 1100px) {
  .welcomeMessage {
    font-size: var(--xx-large);
  }
}

.heroContainer a {
  background-color: var(--tomato);
  border-radius: 12px;
  color: var(--white);
  font-weight: 700;
  padding: var(--spacer-2) var(--spacer-4);
}
